# Środowisko wirtualne
venv/
.venv/

# Pliki konfiguracyjne z sekretami
.env
service_account_key.json

# Pliki cache i logi
__pycache__/
*.log

#Pliki z danymi wejściowymi
*.csv

# Foldery z danymi użytkownika (wejście, wyjście, demo)
# Te foldery nie powinny być częścią repozytorium kodu
/input/
/output/

# Pliki generowane przez edytory
.vscode/
.idea/